
body {
    direction: rtl;
    width: -webkit-fill-available;
    background-image: url("../img/imgof2.jpg");
    background-size: 100% 1000px;
    min-height: 1000px;
    margin: auto 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
.box_w {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 15px black;
    padding: 15px 30px;
    bottom: 5svh;
    z-index: 9;
    right: -15px;
    /* color: white; */
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    .info-ico {
      display: flex;
    }
    img {
      width: 50px;
      height: 50px;
      margin: 0 20px;
      margin: 10px;
    }
    img:hover {
      scale: 1.1;
      transition: 0.3s scale linear;
    }
  }
  .Pop-up_ad{
    display: none;
    position: fixed;
    width: 400px;
    height: 400px;
    right: 450px;
    bottom:150px;
    background: rgb(186, 187, 184);
    border: 2px solid black;
    text-align: center;
    box-shadow: 0 0 15px black;
    border-radius: 10%;
    z-index: 10;

    img{
      width: 70px;
      height: 70px;
    }

    img:hover {
      scale: 1.1;
      transition: 0.5s scale linear;
    }
  }
  .Pop-up_ad_btn{
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: black 3px;
    button{

    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 40%;
    padding-bottom: 60px;
    background: black;
    color: white;
    }
  }
  header {
    padding: 0 25px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .box_s2 {
    font-size: 20px;
    cursor: pointer;
  }
  
  .box_a:hover {
    color: aqua;
    transition: 0.3s linear;
  }
  
  .burger {
    display: none;
  }
  
  .box {
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: 100px;
      margin: 10px 20px;
    }
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: -webkit-fill-available;
    

    a {
      text-decoration: none;
      color: black;
      /* border: 2px solid black; */
    
    }
  }
   /* עיצוב הכפתור הראשי */
   .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
  color: aqua;

    /* background-color: #3498db; */
    /* color: white;
    padding: 10px 15px; */
    /* font-size: 16px; */
    /* border: none;
    cursor: pointer; */
}

/* עיצוב הרשימה הנפתחת */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* עיצוב הכפתורים בתוך הרשימה */
.dropdown-content button {
    background: none;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

/* שינוי צבע בריחוף */
.dropdown-content button:hover {
    background-color: #ddd;
}

/* הצגת הרשימה בלחיצה */
.dropdown:hover .dropdown-content {
    display: block;
}
  .box_main{
    min-width: 768px;
    min-height: 400px;
    /* border: 2px solid black; */
    color: rgb(250, 8, 8);
    text-align: center;
    padding-top: 150px;
    background-image: url("../img/BatteryRepair2.png");
    background-size: 100%  100%;
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
    

  }
  .title_product{
    /* border: 5px solid red; */
    /* margin-top: 130px; */
    margin-bottom: 70px;
    text-align: center;
    font-family: "Rubik Wet Paint", serif;
    font-style: normal;
    p{
      font-size: 70px;
    }
    button{
      font-size: 50px;
      color: rgb(227, 98, 98);
      background: black;
      border-radius: 10px;
      margin-top: 20px;
    }
    h1{
      color: rgb(227, 98, 98);      font-size: 40px;
    }
 
  }
  .main{
    display: flex;
    justify-content: center; /* ממרכז אופקית */
    align-items: center;
  } 
  .box_product{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    /* background: gray; */
    /* border: 5px solid black; */
    /* border-radius: 10px;
    box-shadow: 0px 10px 20px black; */
    padding: 15px;
    
  }
  .box_product1{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    /* background: gray; */
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 20px black;
    padding: 15px;
    
  }
  .product_1{
    height: 300px;
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 10px;
    /* font-family: "Rubik Wet Paint", serif;
    font-style: normal; */
    img{
      padding-top: 10px;
      width: 200px;
      height: 200px;
      border-radius: 30px;
    }
    p{
      font-size: 30px;
      
    }
  }
  .product_2{
    height: 300px;
    border: 2px solid black;
    box-shadow: 0px 10px 20px black;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    background: white;
    color: black;
    text-decoration: none;

    /* font-family: "Rubik Wet Paint", serif;
    font-style: normal; */
    img{
      padding-top: 10px;
      width: 200px;
      height: 200px;
      border-radius: 30px;
    }
    p{
      font-size: 30px;
      
    }
  }
  .product_2:hover{
    color: aqua;
    transition: 0.3s linear;
  }
  .swiper-container {
    /* border: 2px solid black; */
    width: 310px;
    height: 450px;
    margin: auto;
     /* padding-top: 50px; */
    padding-bottom: 100px; 
}

.swiper-slide {
  /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.border_to_swiper{
  width: 100%;
  /* border: 2px solid black; */
}
  .Contact_us{
    margin-top: 120px;
    /* border: 2px solid black; */
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-family: "Rubik Wet Paint", serif;
    font-style: normal;
    a{
      color: black;
      cursor: pointer;
      background-color: rgb(248, 97, 97);
    }
  }
 




  .box5 {
    background: black;
    text-align: center;
    margin: 0;
    min-height: 50px;
    padding: 10px;
  
    h4 {
      color: white;
      text-decoration: none;
    }
  
    i {
      color: white;
      font-size: 40px;
    }
  }
  
  .accessibility {
    min-height: 500px;
    background: white;
    text-align: center;
    padding: 35px;
    p {
      font-size: 22px;
      text-align: right;
      padding: 10px;
    }
  }
  .allCarousel{
    display: flex;
    justify-content: center;  /* מרכז אופקית */
    align-items: center;
    border: 2px solid rgb(228, 31, 31);
    width: 100%;
    height: 500px;
    
  }
  .carousel{
    width: 60%;
    height: 500px;
  
  }
  
  .carousel-inner{
    justify-content: center;
    border: 2px solid black;
    img{
    max-width: 70%;
    height: 500px;
    
  }
  }
  .carousel-item{
    text-align: center;
  }
  img {
      display: block;
      margin: 0 auto;
}

  
@media (max-width: 768px) {
    .box_w {
        img {
          width: 50px;
        }
      }  
      body {
        background-size: 100% 600px;
      }
      header {
        display: block;
        padding: 0;
      }
      .box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px black;
        position: relative;
        z-index: 9;
        img {
          height: 100px;
        }
      }
    
      nav {
        display: none;
        position: absolute;
        background: rgba(192, 192, 192);
      }
    
      nav a {
        display: block;
      }
    
      .burger {
        display: block;
        position: absolute;
        right: 10%;
    
        i {
          font-size: 40px;
        }
      }
      .box_main{
        min-width: 470px;
        max-height: 300px;
        /* border: 2px solid black; */
        text-align: center;
        padding-top: 150px;
        background-image: url("../img/BatteryRepair2.png");
        background-size: 100%  100%;
    
      }
      .title_product{
        margin-top: 70px;
        text-align: center;
        font-family: "Rubik Wet Paint", serif;
        font-style: normal;
        p{
          font-size: 50px;
        }
        button{
          font-size: 30px;
          color: rgb(227, 98, 98);
          background: black;
          border-radius: 10px;
          margin-top: 20px;
        }

     
      }
    .box_product{
      max-width: 750px;
      border: none;
      border-radius: none;
      /* border: 2px solid black; */
    }
    .border_to_swiper{
      display: none;
    }
      
    
      .box_s2 {
        width: 100%;
        padding: 25px;
        z-index: 4;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        /* border: 1px solid black; */
      }
      .carousel{
        display: block;
      }
      .carousel-item{
        img{
          width: 300px;
          height: 300px;
        }
      }
      .border_to_swiper{
        display: none;
      }
      
}

@media (max-width: 470px) {
    .box_w {
        transform: scale(0.7);
        right: -11%;
      }
      .box_main{
        min-width: 100px;
        max-height: 200px;
        border: 2px solid black;
        text-align: center;
        padding-top: 150px;
        background-image: url("../img/BatteryRepair2.png");
        background-size: 100%  100%;
    
      }
      .title_product{
        /* border: 5px solid red; */
        margin-top: 30px;
        text-align: center;
        font-family: "Rubik Wet Paint", serif;
        font-style: normal;
        p{
          font-size: 20px;
        }
        button{
          font-size: 20px;
          color: rgb(227, 98, 98);
          background: black;
          border-radius: 10px;
          margin-top: 20px;
        }
     
      }
      .box_product{
        max-width: 450px;
        border: none;
        border-radius: none;
      }
      .border_to_swiper{
        display: none;
      }
      
}
  



